<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Game</title>
</head>
<body>
  <header>
    <nav>
      <div>
        <ul>
          <li><a href="/">Game <br> Faves</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'games_create' %}">Add a Game</a></li>
            <li><a href="{% url 'index' %}">View All Games</a></li>
          </ul>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <div> &copy; 2019 Video Games &nbsp;</div>
  </footer>
</body>
</html>