{% extends 'base.html' %}
{% block content %}

<span class="gameName">{{ game.name }}</span>

<div class="details">
  <p>Genre: {{game.get_genre_display}}</p>
  <p>Added By: <a href='{% url 'user_detail' game.added_by.id %}'>{{ game.added_by }}</a></p>
</div>

{% if request.user %}
  {% if game in user_fav_games %}
    <a class="btn" href="{% url 'unassoc_favgame' game.id request.user.id %}">Delete Game from My Favorites</a>
  {% else%}
    <a class="btn" href="{% url 'assoc_favgame' game.id request.user.id %}">Add Game to My Favorites</a>
  {% endif %}
{% endif %}

{% if request.user == game.added_by %}
  <a class="btn" href="{% url 'games_delete' game.id %}">Delete Game</a>
{% endif %}

{% endblock %}