{% extends 'base.html' %}
{% block content %}

<span class="gameName">{{ game.name }}</span>
<section class="detail-page">
  <div class='game_content'>
    <div class="details">
      <p>Genre: {{game.get_genre_display}}</p><br>
      <p>Added By: <a id="user-link" href="{% url 'user_detail' game.added_by.id %}">{{ game.added_by }}</a></p>
    </div>

    {% if request.user.username %}
      {% if game in user_fav_games %}
        <a class="btn" id="fav-btn" href="{% url 'unassoc_favgame' game.id request.user.id %}">Delete Game from My Favorites</a>
      {% else%}
        <a class="btn" id="fav-btn" href="{% url 'assoc_favgame' game.id request.user.id %}">Add Game to My Favorites</a>
      {% endif %}

      {% if request.user == game.added_by %}
        <a class="btn" href="{% url 'game_delete' game.id %}">Delete Game</a>
      {% endif %}
    {% endif %}

    <h2>Photos for {{ game.name }}</h2>
    {% for photo in game.photo_set.all %}
      <img src="{{photo.url}}">
      <a class="btn" href="{% url 'delete_photo' game.id %}">Delete Photo</a>
    {% empty %}
      <div id="no-photo">No Photos Uploaded</div>
    {% endfor %}

    {% if request.user.username %}
      {% if not photo %}
        <form class="detail-page-form" action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          <input type="file" name="photo-file">
          <input type="submit" class="btn" value="Upload Photo">
        </form>
      {% endif %}
    {% endif %}
  </div>

  <div class='review_content'>
    <h2>Reviews for {{ game.name }}</h2>
    {% if request.user.username %}
      <form class="detail-page-form" action="{% url 'add_review' game.id %}" method='POST'>
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type='submit' class='btn' value='Add Review'>
      </form>
    {% endif %}
    {% for review in game.review_set.all %}
      <div class='review'>
        <p class=><strong>Review</strong>: {{ review.review }}</p>
        <p><strong>Rating</strong>: {{ review.rating }} / 5</p>
        <a class="btn" id="review-button" href="{% url 'delete_review' game.id review.id %}">Delete Review</a>
      </div>
    {% empty %}
      <p id="no-photo">No Reviews Yet</p>
    {% endfor %}
  </div>
</section>
{% endblock %}